# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo
web-build/
.expo/
.expo-shared/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Editors / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
Thumbs.db

# Prisma
prisma/migrations/dev.db*

# Coverage / test
coverage/
.nyc_output/

# Misc
tmp/
temp/

# Capacitor / Android native build artifacts
apps/*/android/.gradle/
apps/*/android/build/
apps/*/android/app/build/
apps/*/android/capacitor-cordova-android-plugins/build/
apps/*/android/local.properties
apps/*/android/app/src/main/assets/public/
apps/*/ios/App/Pods/
apps/*/ios/App/build/
